* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9rem;
  font-weight: 500;
  font-size: 0.8em;
  flex-wrap: wrap;
}

.logo:hover {
  transform: scale(1.3);
}

.header-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 1.5rem;
}

.header-navbar,
li,
a,
button {
  padding: 0.2rem 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #242e52;
}

.mobile-menu {
  display: none;
}
a:hover {
  color: #ced0d8;
}

.button {
  border-radius: 1.5rem;
  border: none;
  font-size: 0.824rem;
  padding: 0.6rem 1.6rem;
}

button:hover {
  transform: scale(1.3);
}

.button-purple {
  background-color: #8b48bf;
  color: #ffffff;
  width: auto;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5.4rem auto;
  height: auto;
  width: 85%;
  gap: 2rem;
}
.img-padel img {
  width: 100%;
}

.first-description {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  height: 24.938rem;
  width: 28.125rem;
}

.first-description h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #232c50;
  line-height: 3rem;
  text-align: right;
  letter-spacing: -0.125px;
}

.first-description p {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  line-height: 1.5rem;
  text-align: right;
  letter-spacing: -0.125px;
}

.second-section,
.fifth-section {
  background-color: #8b48bf;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.second-section {
  height: 10, 5rem;
  padding: 2rem 6rem;
  gap: 6rem;
}
.fifth-section {
  height: 14rem;
}
.second-section h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  width: 16.125rem;
}
.second-section p {
  font-weight: 500;
  line-height: 1.875rem;
  width: 28.125rem;
}

.third-section {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 1.2rem 0;
  width: 37vw;
}
.card-numbers {
  padding: 0.4rem 0.2rem;
  align-items: center;
  gap: 0.5rem;
  display: flex;
  font-family: 700;
}
.card-numbers span {
  background-color: #8b48bf;
  border-radius: 30px;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
}

.card-container p {
  color: #b3b2b7;
  font-weight: 500;
  margin-left: 3.5rem;
  text-align: left;
}

.fourth-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.fourth-section h2 {
  margin: 2rem auto;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: #3f4868;
  width: 100%;
}
.fourth-section h3 {
  padding: 0.8rem;
}

.fourth-section p {
  font-weight: 500;
  color: #b9b9c1;
  line-height: 25px;
}

.fourth-section img {
  width: 70px;
}

.footer-best {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.fifth-section {
  padding: 2rem 3rem;
}

.fifth-section p {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.99rem;
  width: 60%;
}

.fifth-section-button {
  background-color: #ffffff;
  color: #8b48bf;
  font-weight: 500;
  padding: 0.6rem 1.6rem;
  border-radius: 1.5rem;
  border: none;
}

footer {
  align-items: center;
  background-color: #1e1e26;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4rem;
}

.footer-icons {
  display: flex;
  width: 15vw;
  flex-direction: column;
}

.footer-logo {
  width: 100px;
  align-self: flex-start;
}
.footer-socials {
  margin-top: 2.5rem;
}

.footer-socials ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.footer-navbar {
  padding: 2rem;
  width: auto;
}

.footer-navbar a {
  color: #ffffff;
  font-weight: 400;
  line-height: 23.48px;
  width: 25vw;
  display: flex;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
  width: 40vw;
}

.footer-menu li {
  display: flex;
  justify-content: space-between;
}

.footer-menu li:hover {
  transform: scale(1.1);
}

.footer-form {
  color: #8c8c94;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  width: auto;
  font-size: 0.9rem;
  font-weight: 500;

  gap: 1rem;
}
.inbox {
  display: flex;
}
.footer-form input {
  padding: 0.6rem;
  border-radius: 1rem;
  border: none;
  margin-right: 1rem;
}

.button-go {
  background-color: #8b48bf;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px;
  padding: 0.3rem 0.9rem;
}

@media (max-width: 480px) {
  /* @media (width <= 480px) { */
  header {
    justify-content: space-between;
  }
  .header-navbar,
  .hide {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .main-section {
    flex-direction: column;
    margin: 2rem 1rem;
    width: 88%;
  }
  .img-padel img {
    width: 70vw;
  }
  .first-description {
    justify-content: left;
    width: 21.125rem;
    height: auto;
    gap: 1.5rem;
  }
  .second-section,
  .fifth-section {
    background-color: #3cddf3;
  }
  .second-section {
    padding: 2rem 2rem;
    gap: 3rem;
  }
  .second-section h2 {
    justify-content: left;
    width: 80%;
  }
  .second-section p {
    text-align: left;
    width: 100%;
  }

  .card-numbers {
    margin-left: 1rem;
    background-color: #dcc8ec;
    width: 100%;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
  }

  .third-section {
    flex-direction: column;
    width: 100%;
  }

  .card-container {
    width: auto;
  }
  .cards-text {
    margin: 1rem 1rem 0 0rem;
  }
  .card-container p {
    margin-left: 1.5rem;
    padding: 0.5rem;
  }

  .fourth-section {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .footer-best{
    width: 100%;
    margin-bottom: 1rem;
  }

  .footer-best:nth-of-type(odd) {
    display: none;
  }

  .fifth-section {
    height: auto;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem 2rem;
  }
  .fifth-section p {
    display: flex;
    flex-direction: column;

    width: 60vw;
    align-items: center;
  }
  .fifth-section-button {
    width: 23vw;
    justify-content: center;
    background-color: #232c50;
    color: white;
    padding: 1rem 1.6rem;
    border-radius: 1.5rem;
    border: none;
  }

  footer {
    flex-direction: column-reverse;
    width: auto;
    justify-content: center;
    padding: 3rem 2rem;
    position: relative;
  }

  .footer-icons {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  }

  .footer-logo {
    margin: 2rem;
    display: flex;
    align-self: center;
  }

  .footer-socials ul {
    gap: 3.5rem;
  }

  .footer-menu {
    width: 60vw;
  }

  .footer-form {
    height: 4rem;
  }

  .footer-form input {
    width: 60vw;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    right: 30%;
    margin-bottom: 1rem;
  }

  .footer-navbar a {
    width: 35vw;
  }
}
