.imagenes {
  display: flex;
  background-color: #1e1e26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9rem;
  font-weight: 500;
  font-size: 0.8em;
  flex-wrap: wrap;
}

.header-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.header-navbar li,
a {
  padding: 0.2rem 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #242e52;
}

.mobile-menu {
  display: none;
}
a:hover {
  color: #ced0d8;
}
/* .logo {
  align-items: center;
} */

.button {
  font-size: 0.824rem;
  padding: 0.6rem 1.6rem;
  border-radius: 1.5rem;
  border: none;
}
.button-purple {
  background-color: #8b48bf;
  color: #ffffff;
}

.third-section {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
}

.article-container {
  margin: 1.2rem 0;
  width: 28rem;
  display: flex;
  flex-wrap: wrap;
}
.article-numbers {
  gap: 0.8rem;
  display: flex;
  font-family: 700;
}
.article-numbers span {
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
  background-color: #8b48bf;
  color: #ffffff;
}

.article-container p {
  color: #B3B2B7;
  font-weight: 500
;
  margin-left: 4rem;
  text-align: left;
}
@media (max-width: 468px) {
  header {
    justify-content: space-between;
  }
  .header-navbar,
  .button-hide {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
