

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 9rem;
  font-weight: 500;
  font-size: 0.8em;
  flex-wrap: wrap;
}

.header-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.header-navbar, li,
a {
  padding: 0.2rem 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #242e52;
}

.mobile-menu {
  display: none;
}
a:hover {
  color: #ced0d8;
}

.button {
  font-size: 0.824rem;
  padding: 0.6rem 1.6rem;
  border-radius: 1.5rem;
  border: none;
}
.button-purple {
  background-color: #8b48bf;
  color: #ffffff;
}

.third-section {
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 1.2rem 0;
  width: 37vw;
  /* display: flex;
  flex-wrap: wrap; */
}
.card-numbers {
  padding: 0.4rem 0.2rem;
  align-items: center;
  gap: 0.5rem;
  display: flex;
  font-family: 700;
}
.card-numbers span {
  padding: 0.3rem 0.8rem;
  border-radius: 0.8rem;
  background-color: #8b48bf;
  color: #ffffff;
}

.card-container p {
  color: #b3b2b7;

  font-weight: 500;
  margin-left: 3.5rem;
  text-align: left;
}

.fourth-section {
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.fourth-section h2 {
  margin: 2rem auto;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: #3f4868;
  width: 100%;
}
.fourth-section h3 {
  padding: 0.8rem;
}

.fourth-section p {
  font-weight: 500;
  color: #b9b9c1;
  line-height: 25px;
}

.fourth-section img {
  width: 70px;
}

.best-showcase {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
}


footer{
  align-items: center;
  padding: 1rem 4rem;
  /* height: 35vh; */
  justify-content: center;
  display: flex;
  background-color: #1e1e26;
 } 

.footer-icons{
  /* padding: 1rem 1rem; */
  width: 22vw;
  align-items: center;
}


.socials{
  margin-top: 3rem;
  /* gap: 20px; */
  letter-spacing: 0.3rem;
}

.footer-navbar{
  padding: 2rem;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 30vw; */
  width: auto;
}


.footer-navbar a{
 color: #ffffff;
  font-weight: 400;
  line-height: 23.48px;
  /* gap: 2rem; */
}

.footer-menu li{
  display: flex;
  justify-content: space-between;
}

.footer-menu{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10rem;
  /* width: 28rem; */
  width: 40vw;
}


.footer-form{

  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 8rem;
  justify-content: space-between;
  width:18vw;
  font-size: 0.9rem;
  font-weight: 500;
  color: #8C8C94;

}
.inbox{
  display: flex ;
}
.footer-form input{
  padding: 0.6rem;
  border-radius: 1rem;
  border: none;
}

.right{
  text-align: right;
}

@media (max-width: 480px) {
  header {
    justify-content: space-between;
  }
  .header-navbar,
  .hide {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .card-numbers {
    /* background-color:#8b48bf8b;
    opacity: 0.7; */
    margin-left: 1rem;
    background-color: #dcc8ec;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .third-section {
    flex-direction: column;
    width: 100%;
  }

  .card-container{
    width: auto;
  }
  .cards-text {
    margin: 1rem 1rem 0 0rem;
  }
  .card-container p {
    margin-left: 1.5rem;
    padding: 0.5rem;
  }

  .fourth-section{
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    
  }

  .best-showcase{
    width: 100%;
    margin-bottom :1rem;
  }

  .best-showcase:not(:nth-of-type(even)){
    display: none;
  }

  footer{
    flex-direction: column;
    height: auto;
  }
  
}
